In [1]:
!pip install python-dotenv
!pip install supabase

Requirement already satisfied: python-dotenv in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (1.0.0)
Requirement already satisfied: supabase in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (1.0.3)
Requirement already satisfied: supafunc<0.3.0,>=0.2.2 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from supabase) (0.2.2)
Requirement already satisfied: gotrue<2.0.0,>=1.0.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from supabase) (1.0.1)
Requirement already satisfied: httpx<0.24.0,>=0.23.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from supabase) (0.23.3)
Requirement already satisfied: storage3<0.6.0,>=0.5.2 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from supabase) (0.5.2)
Requirement already satisfied: realtime<2.0.0,>=1.0.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from supabase) (1.0.0)
Requirement already satisfied: python-semantic-release==7.33.2 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from supabase) (7.33.2)
Requirement already satisfied: postgrest<0.11.0,>=0.10.6 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from supabase) (0.10.6)
Requirement already satisfied: semver<3,>=2.10 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (2.13.0)
Requirement already satisfied: twine<4,>=3 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (3.8.0)
Requirement already satisfied: dotty-dict<2,>=1.3.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (1.3.1)
Requirement already satisfied: requests<3,>=2.25 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (2.28.2)
Requirement already satisfied: gitpython<4,>=3.0.8 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (3.1.31)
Requirement already satisfied: invoke<2,>=1.4.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (1.7.3)
Requirement already satisfied: click-log<1,>=0.3 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (0.4.0)
Requirement already satisfied: tomlkit~=0.10 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (0.11.7)
Requirement already satisfied: packaging in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (20.9)
Requirement already satisfied: wheel in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (0.36.2)
Requirement already satisfied: click<9,>=7 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (7.1.2)
Requirement already satisfied: python-gitlab<4,>=2 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-semantic-release==7.33.2->supabase) (3.14.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from gitpython<4,>=3.0.8->python-semantic-release==7.33.2->supabase) (4.0.10)
Requirement already satisfied: smmap<6,>=3.0.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=3.0.8->python-semantic-release==7.33.2->supabase) (5.0.0)
Requirement already satisfied: pydantic<2.0.0,>=1.10.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from gotrue<2.0.0,>=1.0.1->supabase) (1.10.7)
Requirement already satisfied: certifi in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from httpx<0.24.0,>=0.23.0->supabase) (2020.12.5)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from httpx<0.24.0,>=0.23.0->supabase) (1.5.0)
Requirement already satisfied: httpcore<0.17.0,>=0.15.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from httpx<0.24.0,>=0.23.0->supabase) (0.16.3)
Requirement already satisfied: sniffio in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from httpx<0.24.0,>=0.23.0->supabase) (1.2.0)
Requirement already satisfied: anyio<5.0,>=3.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from httpcore<0.17.0,>=0.15.0->httpx<0.24.0,>=0.23.0->supabase) (3.6.2)
Requirement already satisfied: h11<0.15,>=0.13 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from httpcore<0.17.0,>=0.15.0->httpx<0.24.0,>=0.23.0->supabase) (0.14.0)
Requirement already satisfied: idna>=2.8 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from anyio<5.0,>=3.0->httpcore<0.17.0,>=0.15.0->httpx<0.24.0,>=0.23.0->supabase) (2.10)
Requirement already satisfied: deprecation<3.0.0,>=2.1.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from postgrest<0.11.0,>=0.10.6->supabase) (2.1.0)
Requirement already satisfied: strenum<0.5.0,>=0.4.9 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from postgrest<0.11.0,>=0.10.6->supabase) (0.4.10)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from pydantic<2.0.0,>=1.10.0->gotrue<2.0.0,>=1.0.1->supabase) (4.5.0)
Requirement already satisfied: requests-toolbelt>=0.10.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-gitlab<4,>=2->python-semantic-release==7.33.2->supabase) (0.10.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from realtime<2.0.0,>=1.0.0->supabase) (2.8.2)
Requirement already satisfied: websockets<11.0,>=10.3 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from realtime<2.0.0,>=1.0.0->supabase) (10.4)
Requirement already satisfied: six>=1.5 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.8.1->realtime<2.0.0,>=1.0.0->supabase) (1.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.25->python-semantic-release==7.33.2->supabase) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.25->python-semantic-release==7.33.2->supabase) (1.26.4)
Requirement already satisfied: pkginfo>=1.8.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from twine<4,>=3->python-semantic-release==7.33.2->supabase) (1.9.6)
Requirement already satisfied: colorama>=0.4.3 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from twine<4,>=3->python-semantic-release==7.33.2->supabase) (0.4.4)
Requirement already satisfied: importlib-metadata>=3.6 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from twine<4,>=3->python-semantic-release==7.33.2->supabase) (4.10.1)
Requirement already satisfied: keyring>=15.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from twine<4,>=3->python-semantic-release==7.33.2->supabase) (22.3.0)
Requirement already satisfied: readme-renderer>=21.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from twine<4,>=3->python-semantic-release==7.33.2->supabase) (37.3)
Requirement already satisfied: tqdm>=4.14 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from twine<4,>=3->python-semantic-release==7.33.2->supabase) (4.59.0)
Requirement already satisfied: zipp>=0.5 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from importlib-metadata>=3.6->twine<4,>=3->python-semantic-release==7.33.2->supabase) (3.4.1)
Requirement already satisfied: bleach>=2.1.0 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from readme-renderer>=21.0->twine<4,>=3->python-semantic-release==7.33.2->supabase) (3.3.0)
Requirement already satisfied: Pygments>=2.5.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from readme-renderer>=21.0->twine<4,>=3->python-semantic-release==7.33.2->supabase) (2.14.0)
Requirement already satisfied: docutils>=0.13.1 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from readme-renderer>=21.0->twine<4,>=3->python-semantic-release==7.33.2->supabase) (0.17)
Requirement already satisfied: webencodings in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from bleach>=2.1.0->readme-renderer>=21.0->twine<4,>=3->python-semantic-release==7.33.2->supabase) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages (from packaging->python-semantic-release==7.33.2->supabase) (2.4.7)

In [2]:
import pandas as pd
from dotenv import load_dotenv, dotenv_values
from supabase import create_client, Client
from pandas import json_normalize 
import os

In [3]:
load_dotenv()

True

In [4]:
url: str = os.environ.get("SUPABASE_URL")
key: str = os.environ.get("SUPABASE_KEY")
supabase: Client = create_client(url, key)

In [127]:
data = supabase.table("li_bot").select("*").execute().data

In [108]:
auth_data = supabase.from('auth.users').select('*').execute()

SyntaxError: invalid syntax (<ipython-input-108-7dcc59806a48>, line 1)

In [42]:
print(type(data))

<class 'list'>

In [128]:
df = pd.DataFrame(data)

In [129]:
df.drop(columns=['searches', 'who_searched'], inplace=True)

In [130]:
df.head()

,id,created_at,linkedin_url,work_experience,is_company
0,1330,2023-02-02T11:01:46.425302+00:00,https://linkedin.com/in/raphis,"{'city': None, 'extra': {'github_profile_id': ...",False
1,48,2023-01-14T09:36:26.740719+00:00,https://www.nnlife.co.jp/,"{'code': 400, 'name': 'Bad Request', 'descript...",True
2,5,2022-12-19T02:35:32.570739+00:00,https://www.linkedin.com/in/charlotte-weixel-b...,"{'city': 'Rocky River', 'extra': {'github_prof...",False
3,7,2022-12-19T02:45:06.637817+00:00,https://www.linkedin.com/mwlite/in/clarke-russell,"{'code': 400, 'name': 'Bad Request', 'descript...",False
4,8,2022-12-19T02:47:55.874633+00:00,https://www.linkedin.com/mwlite/in/clarke-russ...,"{'code': 400, 'name': 'Bad Request', 'descript...",False

In [163]:
df_user = df[df['is_company'] == False]

In [131]:
# df_company = df[df['is_company'] == True]

In [132]:
df_company.head()

,id,created_at,linkedin_url,work_experience,is_company
1,48,2023-01-14T09:36:26.740719+00:00,https://www.nnlife.co.jp/,"{'code': 400, 'name': 'Bad Request', 'descript...",True
15,17,2023-01-13T21:20:49.660455+00:00,https://www.linkedin.com/company/tourial/,"{'hq': {'city': 'Atlanta', 'is_hq': True, 'sta...",True
18,18,2023-01-13T22:22:59.813112+00:00,https://www.linkedin.com/company/Apple,"{'hq': {'city': 'Cupertino', 'is_hq': True, 's...",True
20,20,2023-01-13T22:32:40.509564+00:00,https://www.linkedin.com/company/Google,"{'hq': {'city': 'Mountain View', 'is_hq': True...",True
21,21,2023-01-13T23:00:17.018532+00:00,https://www.linkedin.com/company/airbnb/,"{'hq': {'city': 'San Francisco', 'is_hq': True...",True

In [91]:
# user_list = df_user.T.to_dict().values()

In [92]:
# company_list = df_company.T.to_dict().values()

In [93]:
# supabase.table('').insert(user_list).execute()

In [140]:
# import json

# def process_hq(row):
#     we_row = row['work_experience']
#     if 'code' in we_row and we_row['code'] in [400, 404]:
#         return None
#     else:
#         return we_row['hq']
    
# def process_name(row):
#     we_row = row['work_experience']
#     return we_row['name']

In [141]:
# df_company['hq'] = df_company.apply(process_hq, axis=1)
# df_company['name'] = df_company.apply(process_name, axis=1)

In [143]:
# df_company = df_company.dropna(subset=['hq'])
# df_company.drop(columns=['is_company'], inplace=True)

In [144]:
# df_company

,id,created_at,linkedin_url,work_experience,hq,name
15,17,2023-01-13T21:20:49.660455+00:00,https://www.linkedin.com/company/tourial/,"{'hq': {'city': 'Atlanta', 'is_hq': True, 'sta...","{'city': 'Atlanta', 'is_hq': True, 'state': 'G...",Tourial
18,18,2023-01-13T22:22:59.813112+00:00,https://www.linkedin.com/company/Apple,"{'hq': {'city': 'Cupertino', 'is_hq': True, 's...","{'city': 'Cupertino', 'is_hq': True, 'state': ...",Apple
20,20,2023-01-13T22:32:40.509564+00:00,https://www.linkedin.com/company/Google,"{'hq': {'city': 'Mountain View', 'is_hq': True...","{'city': 'Mountain View', 'is_hq': True, 'stat...",Google
21,21,2023-01-13T23:00:17.018532+00:00,https://www.linkedin.com/company/airbnb/,"{'hq': {'city': 'San Francisco', 'is_hq': True...","{'city': 'San Francisco', 'is_hq': True, 'stat...",Airbnb
33,35,2023-01-14T01:05:37.179076+00:00,https://www.linkedin.com/company/google,"{'hq': {'city': 'Mountain View', 'is_hq': True...","{'city': 'Mountain View', 'is_hq': True, 'stat...",Google
...,...,...,...,...,...,...
1620,1596,2023-02-26T21:41:43.460284+00:00,https://www.linkedin.com/company/capital-one/m...,"{'hq': {'city': 'McLean', 'is_hq': True, 'stat...","{'city': 'McLean', 'is_hq': True, 'state': 'Va...",Capital One
1624,981,2023-01-25T13:24:49.675798+00:00,https://linkedin.com/company/harmonic-group-li...,"{'hq': {'city': 'London', 'is_hq': True, 'stat...","{'city': 'London', 'is_hq': True, 'state': Non...",Harmonic Finance™ | Certified B Corp
1625,557,2023-01-19T14:34:15.513398+00:00,https://linkedin.com/company/metricapp,"{'hq': {'city': 'Singapore', 'is_hq': True, 's...","{'city': 'Singapore', 'is_hq': True, 'state': ...",Metric
1626,527,2023-01-19T05:10:52.13778+00:00,https://linkedin.com/company/accenture/,"{'hq': {'city': 'Dublin 2', 'is_hq': True, 'st...","{'city': 'Dublin 2', 'is_hq': True, 'state': N...",Accenture
1627,1264,2023-02-01T09:41:00.248033+00:00,https://linkedin.com/company/americares/life/2...,"{'hq': {'city': 'Stamford', 'is_hq': True, 'st...","{'city': 'Stamford', 'is_hq': True, 'state': '...",Americares

In [152]:
for index, row in df_company.iterrows():
    try:
        data = supabase.table("company_info").insert({
            "linkedin_url": row['linkedin_url'],
            "created_at": row['created_at'],
            "name": row['name'],
            "hq": row['hq'],
            "li_data": row['work_experience'],
        }).execute()
    except:
        print('SHIT')

SHIT
SHIT
SHIT

In [164]:
df_user

,id,created_at,linkedin_url,work_experience,is_company
0,1330,2023-02-02T11:01:46.425302+00:00,https://linkedin.com/in/raphis,"{'city': None, 'extra': {'github_profile_id': ...",False
2,5,2022-12-19T02:35:32.570739+00:00,https://www.linkedin.com/in/charlotte-weixel-b...,"{'city': 'Rocky River', 'extra': {'github_prof...",False
3,7,2022-12-19T02:45:06.637817+00:00,https://www.linkedin.com/mwlite/in/clarke-russell,"{'code': 400, 'name': 'Bad Request', 'descript...",False
4,8,2022-12-19T02:47:55.874633+00:00,https://www.linkedin.com/mwlite/in/clarke-russ...,"{'code': 400, 'name': 'Bad Request', 'descript...",False
5,9,2022-12-19T02:48:05.717259+00:00,https://www.linkedin.com/in/clarke-russell,"{'city': 'New York', 'extra': {'github_profile...",False
...,...,...,...,...,...
1611,1638,2023-04-11T18:31:23.619562+00:00,https://www.linkedin.com/in/cody-magley/,"{'city': 'Columbus', 'extra': {'github_profile...",False
1615,1640,2023-04-12T04:32:45.563002+00:00,https://www.linkedin.com/in/shailabhshailesh/,"{'city': 'Sydney', 'extra': {'github_profile_i...",False
1616,1630,2023-04-11T15:34:29.652011+00:00,https://www.linkedin.com/in/trithien98/,"{'city': 'Ho Chi Minh City Metropolitan Area',...",False
1617,1632,2023-04-11T16:18:50.090792+00:00,https://www.linkedin.com/in/john-hall-3652aa82/,"{'city': 'Portland', 'extra': {'github_profile...",False
1621,1636,2023-04-11T17:28:47.300465+00:00,https://www.linkedin.com/in/dimitridesmet/,"{'city': 'Lafayette Hill', 'extra': {'github_p...",False

In [165]:
def process_hq(row):
    we_row = row['work_experience']
    if 'code' in we_row and we_row['code'] in [400, 404]:
        return None
    else:
        return "OK"

def process_first_name(row):
    we_row = row['work_experience']
    return we_row['first_name']

def process_last_name(row):
    we_row = row['work_experience']
    return we_row['last_name']

In [166]:
df_user['is_error'] = df_user.apply(process_hq, axis=1)

df_user = df_user.dropna(subset=['is_error'])
df_user.drop(columns=['is_error'], inplace=True)

print(df_user.head())

df_user['first_name'] = df_user.apply(process_first_name, axis=1)
df_user['last_name'] = df_user.apply(process_last_name, axis=1)

     id                        created_at  \
0  1330  2023-02-02T11:01:46.425302+00:00
2     5  2022-12-19T02:35:32.570739+00:00
5     9  2022-12-19T02:48:05.717259+00:00
6     6  2022-12-19T02:41:22.129514+00:00
8    11  2022-12-19T21:18:02.971668+00:00

                                        linkedin_url  \
0                     https://linkedin.com/in/raphis
2  https://www.linkedin.com/in/charlotte-weixel-b...
5         https://www.linkedin.com/in/clarke-russell
6            https://www.linkedin.com/in/jacktreiman
8           https://www.linkedin.com/in/henryborska/

                                     work_experience  is_company
0  {'city': None, 'extra': {'github_profile_id': ...       False
2  {'city': 'Rocky River', 'extra': {'github_prof...       False
5  {'city': 'New York', 'extra': {'github_profile...       False
6  {'city': 'Bala-Cynwyd', 'extra': {'github_prof...       False
8  {'city': 'St Louis', 'extra': {'github_profile...       False

<ipython-input-166-f3f74fba3dd1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['is_error'] = df_user.apply(process_hq, axis=1)
/Users/nicholascarlin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-166-f3f74fba3dd1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['first_name'] = df_user.apply(process_first_name, axis=1)
<ipython-input-166-f3f74fba3dd1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['last_name'] = df_user.apply(process_last_name, axis=1)

In [171]:
df_user.drop_duplicates(subset=['linkedin_url'], inplace=True)
df_user

<ipython-input-171-8e6a95c74af4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user.drop_duplicates(subset=['linkedin_url'], inplace=True)

,id,created_at,linkedin_url,work_experience,is_company,first_name,last_name
0,1330,2023-02-02T11:01:46.425302+00:00,https://linkedin.com/in/raphis,"{'city': None, 'extra': {'github_profile_id': ...",False,Rafi,Segev
2,5,2022-12-19T02:35:32.570739+00:00,https://www.linkedin.com/in/charlotte-weixel-b...,"{'city': 'Rocky River', 'extra': {'github_prof...",False,Charlotte,Weixel
5,9,2022-12-19T02:48:05.717259+00:00,https://www.linkedin.com/in/clarke-russell,"{'city': 'New York', 'extra': {'github_profile...",False,Clarke,Russell
6,6,2022-12-19T02:41:22.129514+00:00,https://www.linkedin.com/in/jacktreiman,"{'city': 'Bala-Cynwyd', 'extra': {'github_prof...",False,Jack,Treiman
8,11,2022-12-19T21:18:02.971668+00:00,https://www.linkedin.com/in/henryborska/,"{'city': 'St Louis', 'extra': {'github_profile...",False,Henry,Borska
...,...,...,...,...,...,...,...
1611,1638,2023-04-11T18:31:23.619562+00:00,https://www.linkedin.com/in/cody-magley/,"{'city': 'Columbus', 'extra': {'github_profile...",False,Cody,Magley
1615,1640,2023-04-12T04:32:45.563002+00:00,https://www.linkedin.com/in/shailabhshailesh/,"{'city': 'Sydney', 'extra': {'github_profile_i...",False,Shailabh,Shailesh
1616,1630,2023-04-11T15:34:29.652011+00:00,https://www.linkedin.com/in/trithien98/,"{'city': 'Ho Chi Minh City Metropolitan Area',...",False,Tri,Thien
1617,1632,2023-04-11T16:18:50.090792+00:00,https://www.linkedin.com/in/john-hall-3652aa82/,"{'city': 'Portland', 'extra': {'github_profile...",False,John,Hall
1621,1636,2023-04-11T17:28:47.300465+00:00,https://www.linkedin.com/in/dimitridesmet/,"{'city': 'Lafayette Hill', 'extra': {'github_p...",False,Dimitri,Desmet

In [172]:
for index, row in df_user.iterrows():
    data = supabase.table("li_users").insert({
        "id": row['id'],
        "linkedin_url": row['linkedin_url'],
        "created_at": row['created_at'],
        "first_name": row['first_name'],
        "last_name": row['last_name'],
        "li_data": row['work_experience'],
    }).execute()